/*****************nav bar*********************/
nav{
	position: fixed;
	top:0;
	width: 100%;
	height:100px;
	background-color: white;
}
#hamburger {
    position: fixed;
    left: 0;
    top: 0;
}

#search {
    position: fixed;
    right: 0;
    top: 0;
}
#logo {
    margin-top: 20px;
    position:fixed;
    left:calc((100% - 103.5px) / 2);
    background-color: white;
}
/*****************header********************/
header {
	margin-top: 100px;
    text-align: center;
}


/******************section******************/
#article {
    height: 300px;
    width: 85%;
    margin: 0 auto;
}

#map_loadin{
	width: 100%;
	height: 300px;
}
#map_canvas {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.classification {
    border-width: 0;
    border-radius: 3px;
    margin: 0 0.9%;
    color: white;
    padding: 5px 0;
    text-align: center;
}

.as {
    display: flex;
    margin-bottom: 20px;
}

#spot {
    flex: 1;
    background-color: rgb(224, 97, 98);
}

#food {
    flex: 1;
    background-color: rgb(224, 197, 130);
}

#rest {
    flex: 1;
    background-color: rgb(119, 153, 86);
}

#repair {
    flex: 1;
    background-color: rgb(85, 115, 193);
}

#Barrier{
    flex: 1;
    background-color: rgb(0, 0, 0);
}

.classification:hover {
    text-decoration: none;
    color: white;
}

.intro {
    /*margin-bottom: 20%;*/
    padding-bottom: 20%;
}
/******************footer******************/
footer {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
}

#down-pic {
    width: 30%;
    margin-left: calc((100% - 80px) / 2);
    max-width: 80px;
}

#report{
    display:none;
    width:300px;
    height:400px;
    margin-left: calc((100% - 300px) / 2);
    background-color: rgb(137,137,137);
    align-content: center;
}

#report_title{
    color:white;
    text-align:center;
    display: block;
    font-size:2em;
}

.report_as{
    margin-left: 10%;
    margin-right: 10%;

}

.report_classification {
    border-width: 0;
    width:100px;
    border-radius: 3px;
    margin: 10px 3%;
    color: white;
    padding: 5px 0;
    text-align: center;
}

#item-info{
    margin-left: 13%;
    margin-right: 13%;
}

#picData{
    width:200px;
    
}

#typeinfo{
    height:100px;
    width: 100%;
}

#send{
    width: 100%;
    border-radius: 3px;
    border-width: 0;
    background-color: white;
}