/*****************nav bar*********************/
nav{
	position: fixed;
	top:0;
	width: 100%;
	height:70px;
	background-color: #261f28;
}
#hamburger {
    width:40px;
    margin-left:4%;
    margin-top: 15px;
}

#search {
    position:fixed;
    width:40px;
    right:4%;
    top:15px;
}
#logo {
    width:75px;
    margin-top: 7px;
    position:fixed;
    left:calc((100% - 70px) / 2);
}
/*****************header********************/
header {
	margin-top: 90px;
    text-align: center;
}
body{
    font-family: "微軟正黑體",arial,helvetica,sans-serif;
}

/******************section******************/

#article {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.info{
    height: 100%;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);
    background-image: url(https://photo.network.com.tw/scenery/E86DF158-EDFE-4632-A4B6-FF65CD550DEF_f.jpg);
    background-size: cover;
    background-position: top;
    padding: 15px; 
}


#map_loadin{
	width: 100%;
	height: 300px;
}
#map_canvas {
    width: 100%;
    height: 100%;
    /*margin-bottom: 10px;*/
}

.classification {
    border-width: 0;
    border-radius: 3px;
    margin: 0 0.9%;
    color: white;
    padding: 5px 0;
    text-align: center;
    box-shadow: 1px 1px 3px #999999;
    font-size: 1.6rem;
}

.as {
    display: flex;
    margin-bottom: 20px;
}

#spot {
    flex: 1;
    background-color: rgba(224, 97, 98,0.8);
}

#food {
    flex: 1;
    background-color: rgba(224, 197, 130,0.8);
}

#rest {
    flex: 1;
    background-color: rgba(119, 153, 86,0.8);
}

#repair {
    flex: 1;
    background-color: rgba(85, 115, 193,0.8);
}

#Barrier{
    flex: 1;
    background-color: rgba(115,60 , 115,0.8);
}

.classification:hover {
    text-decoration: none;
    color: white;
}

.intro {
    padding-bottom: 20%;
    width: 80%;
     margin: auto;
     color:white;
}
/******************footer******************/
footer {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#down-pic {
    width: 30%;
    margin-left: calc((100% - 80px) / 2);
    max-width: 80px;
}

#report{
    display:none;
    width:300px;
    height:400px;
    margin-left: calc((100% - 300px) / 2);
    background-color: rgba(255,255,255,0.8);
    align-content: center;
    box-shadow: 3px 10px 20px #999999;
}

#report_title{
    padding-top: 20px;
    color:black;
    text-align:center;
    display: block;
    font-size:1.9em;
}

.report_as{
    margin-left: 10%;
    margin-right: 10%;

}

.report_classification {
    border-width: 0;
    width:100px;
    border-radius: 3px;
    margin: 10px 3%;
    color: white;
    padding: 5px 0;
    text-align: center;
    box-shadow: 1px 1px 3px #999999;
}

#item-info{
    margin-left: 13%;
    margin-right: 13%;
}

#picData{
    width:200px;
    
}

#typeinfo{
    height:100px;
    width: 100%;
}

#send{
    width: 100%;
    border-radius: 3px;
    border-width: 0;
    background-color: black;
    color:white;
}

/*********** modal *************/

.blur{
    -webkit-filter:blur(25px) brightness(50%);
}
.modal-header{
    border: none;
}
.modal-header > img{
    margin:auto;
}
.label{
    color: white;
    font-size: 1.8rem;
    font-weight: normal;
}
option{
    font-size: 1rem;

}
select {
    font-size:2rem;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    display: inline-block;
    width: 61%;
    background-color: rgba(255,255,255,0.2);
}
.btn + .btn{
    margin-top: 30px;
}
#city-routes:focus{
    background-color: #1b6bb2;
    color: white;
    opacity: 0.7;
}
#nature-routes:focus{
    background-color: #469640;
    color: white;
    opacity: 0.7;
}
#sport-routes:focus{
    background-color: #ff5252;
    color: white;
    opacity: 0.7;
}
#city-routes:active{
    background-color: #1b6bb2;
    color: white;
    opacity: 0.7;
}
#nature-routes:active{
    background-color: #469640;
    color: white;
    opacity: 0.7;
}
#sport-routes:active{
    background-color: #ff5252;
    color: white;
    opacity: 0.7;
}

#licenses{
    display: flex;
    justify-content: center;
    padding-top: 270px;
    font-size: 2rem;
    color: white;
}
/*label {
    font-size: 9rem;
    color:white;
}*/
.btn2{
    font-size:2rem;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    margin:auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content:center; 
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0);
}
.btn2:active{
    background-color: white;
    color: black;
}
.search{
    font-size:150px;
    justify-content:center; 
    display: flex;
    flex-wrap: wrap;
}
.modal-content{
    justify-content:center; 
    margin: 80px auto 0;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    box-shadow: none;
    width: 70%;

}
/*#city-routes:focus{
    background-color: #1b6bb2;
    color: white;
    opacity: 0.7;
}
#nature-routes:focus{
    background-color: #469640;
    color: white;
    opacity: 0.7;
}
#sport-routes:focus{
    background-color: #ff5252;
    color: white;
    opacity: 0.7;
}*/
#city-routes:active{
    background-color: #1b6bb2;
    color: white;
    opacity: 0.7;
}
#nature-routes:active{
    background-color: #469640;
    color: white;
    opacity: 0.7;
}
#sport-routes:active{
    background-color: #ff5252;
    color: white;
    opacity: 0.7;
}
#text{
    margin: auto;
    margin-top: 100px;
    font-size: 1rem;
}
.icon{
    margin: auto;
    width: 80px;
}
#licenses{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    padding-top: 200px;
    font-size: 2rem;
    color: white;
}
.btn{
    margin: auto;
    box-shadow: 0.5px 0.5px 5px #999999;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    font-size: 1.3rem;
    color: white;
    width: 120px;
    height: 120px;
}

.img-responsive{
    width: 40px;
}

